.main, .description1, .flex-wrapper, .list-wrapper{
display: flex;
}

/*.updown {*/
/*margin: 0 auto;*/
/*font-style: italic;*/
/*display: flex;*/
/*height: 100%;*/
/*justify-content: center;*/
/*}*/
h1, h2 {
    display: flex;
    justify-content: center;
}
.leftright {
width: 25%;
}
.list-wrapper, .flex-wrapper {
width: 1000px;
border: 5px solid green;
margin-bottom: 1px;

}

 .name, .author, .date, .genre, .numberOfPages{
     width: 100%;
     border: 1px solid gray;
     justify-content: center;
     display: flex;

     /*border-top-width: 0px;*/
     /*border-left-width: 0px;*/
     /*border-bottom-width: 0px;*/

 }

