/* общий параметр для тэгов о толщине и цвете разделителя */
    table, th, td {
        border: 5px solid green;
        }
    /* параметр для таблице о толщине и цвете разделителя */
    table {
        border-collapse: collapse;
        }
    /* параметр для данных таблицы о цвете фона и размере отступа между словом и границей */
    td {
        background-color:white;
        padding: 20px;
        }
