    .base {
        width: 1000px;                 /*ширина*/
        height: 500px;
        margin: auto;                  /*выравнивание по середине страницы*/
        border-collapse: collapse;     /*убираем пустые промежутки между ячейками*/
        }
    /* общий параметр для тэгов о толщине и цвете разделителя */
    .base, .base.th, .base.td {
        text-align: center;
        vertical-align: middle;
        border: 5px solid green;
        }
    /* параметр для таблицы о толщине и цвете разделителя */
    .base td {
        background-color:white;
        padding: 20px;
        }
    .base th {
        background-color:grey;
        padding: 10px;
        }
    .base caption {
              text-align: center;

              /* стили для заголовка таблицы */
          }







