<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home pages</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login">
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
        </p>
        <p>
            <label for="password">Login</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </p>
        <button class="btn-dark" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>